* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper-body {
    padding: 0 50px;
    display: flex;
}

.wrapper-body .body-sidebar {
    width: 30%;
}

.wrapper-body .body-content {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.category ul {
    padding-left: 15px;
}
.wrapper-header {
    border-bottom: 2px solid black;
    height: 100px;
}

.body-content {
    padding: 20px;
}

.body-sidebar{
    padding: 20px;
}

.product {
    width: 200px;
    border: 1px solid black;
    margin: 0 20px 20px;
}

.product-img {
    border-bottom: 1px solid black;
}

.product-content {
    height: 50px;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
}

